<!DOCTYPE html>
<html>

<head>
  <title>UtahEmber: {{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <link rel="stylesheet" href="/stylesheets/reset.css" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/utahember.css" charset="utf-8">
</head>

<body>

  <header>
    <h1><a href="/">Utah Ember User Group (UtahEmber)</a></h1>
  </header>

  <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="http://github.com/utahember">GitHub</a></li>
        <li><a href="/companies">Companies</a></li>
    </ul>
  </nav>

{{ content }}

  <footer>
    <p class="github"><a href="http://github.com/utahember/utahember.github.io">Fork me on GitHub</a></p>
  </footer>

</body>

</html>
